NodeSoapServer/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="MyService"
             targetNamespace="http://example.com/myservice/"
             xmlns:tns="http://example.com/myservice/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="http://example.com/myservice/">
      <xsd:element name="GetData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="value" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="GetDataRequest">
    <part name="parameters" element="tns:GetData"/>
  </message>
  <message name="GetDataResponse">
    <part name="parameters" element="tns:GetDataResponse"/>
  </message>
  <portType name="MyServicePortType">
    <operation name="GetData">
      <input message="tns:GetDataRequest"/>
      <output message="tns:GetDataResponse"/>
    </operation>
  </portType>
  <binding name="MyServiceBinding" type="tns:MyServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetData">
      <soap:operation soapAction="http://example.com/myservice/GetData"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MyService">
    <port name="MyServicePort" binding="tns:MyServiceBinding">
      <soap:address location="https://quail-saved-arachnid.ngrok-free.app/Service.svc"/>
    </port>
  </service>
</definitions>
